<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="2.4.0" targetFramework="net462" />
  <package id="Flurl.Http" version="1.2.0" targetFramework="net462" />
  <package id="HttpMachine.PCL" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="SlackConnector" version="4.2.55" targetFramework="net462" />
  <package id="SocketLite.PCL" version="4.1.1" targetFramework="net462" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net462" />
  <package id="WebsocketClientLite.PCL" version="4.1.1" targetFramework="net462" />
</packages>