<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Irc.Nick" value="gambot"/>
    <add key="Irc.Server" value="otss.irc.slack.com"/>
    <add key="Irc.Password" value="otss.OtDft2tARTWwQaoajvez"/>
    <add key="Irc.Ssl" value="true"/>
  </appSettings>
</configuration>
